.alert {
	display: flex;
	background-color: #ffffffdd;
	font-family: sans-serif;
	align-items: stretch;
	gap: 1em;
	padding: 0.5em 1em;
	padding-right: 0.5em;
	pointer-events: all;
	user-select: none;
	border: 2px solid #cccccc;
	max-width: 28em;
	h1 {
		font-size: 1.6em;
	}
	h1,
	p {
		margin: 0;
		padding: 0;
	}
	p {
		text-align: left;
	}
}
.alertInfo {
	display: flex;
	flex-direction: column;
	gap: 0.2em;
}
.alertImage {
	display: flex;
	flex-direction: column;
	font-size: 2.5em;
}
.closeContainer {
	display: flex;
	height: 100%;
}
.close {
	aspect-ratio: 1 / 1;
	font-weight: bold;
	margin-bottom: auto;
}
