.dialogueContainer {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	pointer-events: none;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	z-index: 4;
}

.dialogueBox {
	background-color: #eeeeee;
	pointer-events: all;
	font-size: 1.75em;
	min-height: 8em;
	position: relative;
	border: solid 4px black;
	display: flex;
	flex-direction: column;
}
.details {
	width: 100%;
	text-align: left;
	padding: 0.5em;
}
.name {
	background-color: #d9d9d9;
	position: absolute;
	bottom: 100%;
	left: 0.5em;
	padding: 0.25em 0.75em;
	font-weight: bold;
	border: solid 4px black;
}
.buttons {
	display: flex;
	justify-content: flex-end;
	margin: 0.5em;
	margin-top: auto;
	button {
		padding: 0.3em 0.7em;
		background-color: #e3e3e3;
		font-size: 0.8em;
	}
}
