html,
head,
body {
	min-height: 100%;
	padding: 0;
	margin: 0;
	font-family: Avenir, Montserrat, Corbel, "URW Gothic", source-sans-pro, sans-serif;
	font-weight: normal;
	font-size: 1vw;
	background-image: url("https://nwss-g2-chembreakout.vercel.app/img/bg2.jpg");
}
h1 {
	font-size: 2.5em;
	margin-bottom: 0.5em;
}
* {
	box-sizing: border-box;
}
#root {
	margin: 0 auto;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}
* {
	user-select: none;
	-webkit-user-drag: none;
}

.maxButton {
	border-image: url("/img/maxButton.png") 112 114 114 104 fill / 112px 114px 114px 104px;
	padding: 13px 33px;
	font-family: Bahnschrift, "DIN Alternate", "Franklin Gothic Medium", "Nimbus Sans Narrow", sans-serif-condensed, sans-serif;
	color: yellow;
	font-size: 49px;
	background-color: unset;
	border-radius: 31%;
	cursor: pointer;
	&:hover {
		filter: brightness(0.9);
	}
	&:active {
		filter: brightness(0.7);
	}
}

button {
	border: none;
	cursor: pointer;
	&:hover {
		background-color: #f3f3f3;
	}
	&:active {
		background-color: #e7e7e7;
	}
}
